# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Logs and temporary files
*.log
*.tmp
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Git and IDE files
.git/
.gitignore
.idea/
.vscode/

# Model and data files (can be large)
*.h5
*.joblib
*.tar
*.gz
*.zip

# Chrome / Selenium downloads or cache
chromedriver.exe
__MACO
